<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
	<!--<localRepository>${M2_HOME}/repo</localRepository> -->
	<offline>false</offline>
	<pluginGroups>
		<pluginGroup>com.alianz</pluginGroup>
		<pluginGroup>tr.com.obss</pluginGroup>
		<pluginGroup>tr.com.obss.maven</pluginGroup>
		<pluginGroup>com.atlassian.maven.plugins</pluginGroup>
		<pluginGroup>org.apache.maven.plugins</pluginGroup>
		<pluginGroup>org.codehaus.mojo</pluginGroup>
		<pluginGroup>org.codehaus.mojo</pluginGroup>
		<pluginGroup>org.kuali.maven.plugins</pluginGroup>
	</pluginGroups>
	<proxies>
	 <!-- Proxy for HTTP -->
	 <proxy>
	  <id>optional</id>
	  <active>true</active>
	  <protocol>http</protocol>
	  <username></username>
	  <password></password>
	  <host>195.87.49.10</host>
	  <port>8080</port>
	  <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
	 </proxy>

	 <!-- Proxy for HTTPS -->
	 <proxy>
	  <id>optional</id>
	  <active>true</active>
	  <protocol>https</protocol>
	  <username></username>
	  <password></password>
	  <host>195.87.49.10</host>
	  <port>8080</port>
	  <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
	 </proxy>
	</proxies>	
	<profiles>
		<profile>
			<id>profile-thirdparty-build</id>
			<repositories>
				<repository>
					<id>thirdparty-release</id>
					<name>Maven Repository for Third Party Releases</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/thirdparty-release/</url>
					<releases>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>thirdparty-central</id>
					<name>Maven Repository for Third Party Releases</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/thirdparty-central/</url>
					<releases>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>thirdparty-snapshot</id>
					<name>Maven Repository for Third Party Snapshots</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/thirdparty-snapshot/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>profile-plugin-repositories</id>
			<repositories />
			<pluginRepositories>
				<pluginRepository>
					<id>internal</id>
					<name>Enterprise Maven Repository for Internal Maven Plugins</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/groups/internal/</url>
					<releases>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>thirdparty</id>
					<name>Enterprise Maven Repository for Third Party Maven Plugins</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/groups/thirdparty/</url>
					<releases>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>profile-unmanaged-build</id>
			<repositories>
				<repository>
					<id>internal-release</id>
					<name>Enterprise Maven Repository for Internal Artifact Releases</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-release/</url>
					<releases>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>internal-snapshot</id>
					<name>Enterprise Maven Repository for Internal Artifact Snapshots</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-snapshot/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>profile-ota-build</id>
			<repositories>
				<repository>
					<id>sdlc-ota-release</id>
					<name>Enterprise Maven Repository for SDLC Artifact Releases</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/sdlc-ota-release/</url>
					<releases>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>sdlc-ota-snapshot</id>
					<name>Enterprise Maven Repository for SDLC OTA Snapshots</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/sdlc-ota-snapshot/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>profile-common-build</id>
			<repositories>
				<repository>
					<id>internal-dev-snapshot</id>
					<name>Enterprise Maven Repository for Internal DEV Artifact Snapshots</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-dev-snapshot/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>internal-test-release</id>
					<name>Enterprise Maven Repository for Internal TEST Artifact Releasess</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-test-release/</url>
					<releases>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>internal-test-snapshot</id>
					<name>Enterprise Maven Repository for Internal TEST Artifact Snapshots</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-test-snapshot/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>internal-uat-release</id>
					<name>Enterprise Maven Repository for Internal UAT Artifact Releasess</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-uat-release/</url>
					<releases>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>internal-uat-snapshot</id>
					<name>Enterprise Maven Repository for Internal UAT Artifact Snapshots</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-uat-snapshot/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>internal-prd-release</id>
					<name>Enterprise Maven Repository for Internal PRD Artifact Releasess</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-prd-release/</url>
					<releases>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>internal-prd-snapshot</id>
					<name>Enterprise Maven Repository for Internal PRD Artifact Snapshots</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-prd-snapshot/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
						<enabled>true</enabled>
					</snapshots>
				</repository>				
			</repositories>
		</profile>
		<profile>
			<id>profile-unmanaged-deployment</id>
			<distributionManagement>
				<repository>
					<id>repo.internal-release</id>
					<name>Internal TEST Release Repository</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-release/</url>
				</repository>
				<snapshotRepository>
					<id>repo.internal-snapshot</id>
					<name>Internal TEST Snapshot Repository</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/internal-snapshot/</url>
				</snapshotRepository>
			</distributionManagement>
		</profile>
		<profile>
			<id>profile-thirdparty-deployment</id>
			<distributionManagement>
				<repository>
					<id>repo.thirdparty-release</id>
					<name>Internal TEST Release Repository</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/thirdparty-release/</url>
				</repository>
				<snapshotRepository>
					<id>repo.thirdparty-snapshot</id>
					<name>Internal TEST Snapshot Repository</name>
					<url>https://sdlc.allianz.com.tr/nexus/content/repositories/thirdparty-snapshot/</url>
				</snapshotRepository>
			</distributionManagement>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>profile-unmanaged-build</activeProfile>
		<activeProfile>profile-thirdparty-build</activeProfile>
		<activeProfile>profile-common-build</activeProfile>
		<activeProfile>profile-ota-build</activeProfile>
		<activeProfile>profile-plugin-repositories</activeProfile>
	</activeProfiles>
	<mirrors>
		<mirror>
			<id>allianz-sdlc-central</id>
			<url>https://sdlc.allianz.com.tr/nexus/content/groups/thirdparty/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
</settings>